*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 100%;
}

a{
    text-decoration: none;
    text-color: black;
}
h2{
    margin: 20px auto;
}
/*=============================== HEADER =====================================*/
header{
    width: 100%;
    min-height: 15vh;
    background-color: lightsalmon;
}
.top-header{
    width: 100%;
    min-height: 75%;
    background-color: lightskyblue;
}
nav{
    width: 100%;
    min-height: 25%;
    background-color: white;
}
nav a{
    display: inline-block;
    width: 70px;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}
nav a:hover{
    background-color: lightskyblue;
}

/*=============================== LAYOUT =====================================*/


/*=============================== BODY =====================================*/
main{
    width: 100%;
    text-align: center;
}
.search-box{
    padding: 15px;
    margin: 15px auto;
}

.search-box input[type]{
    padding: 10px;
}
.search-box button{
    padding: 5px 10px;
}
.common-form{
    margin: 15px auto;
}
.common-form input[type]{
    padding: 10px;
}

.common-form button{
    padding: 5px 10px;
}
.table{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
.table tr:nth-child(odd){
    background-color: lightcyan;
}
.table th{
    background-color: lightblue;
    padding: 10px;
}
.table td{
   padding: 10px; 
}
.display-box{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: solid 1px black;
}



